{% for int in hostvars[inventory_hostname].interfaces -%}
  {% if hostvars[inventory_hostname].interfaces[int].infra is defined -%}
    {% if ansible_net_interfaces[int].type == 'routed' -%}
interface {{int}}
    switchport
    no ip address
    {% endif %}
  {% endif %}
{% endfor %}
